body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('C:/Users/Acurilab/Desktop/PROJETO/farmacia.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-bar {
    width: 100%;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 24px);
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: calc(100% - 24px);
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-info img {
    width: 20px;
    margin-right: 10px;
}
